
:root{
    --font-color: rgb(59, 55, 55);

    --color-border-top: #8d8d8d;
    --color-border-right: #b3b3b3;
    --color-border-bottom: #363636;
    --color-border-left: #030303;

    --button-background-color: rgb(223, 223, 223);
    --button-background-color-active: rgb(206, 206, 206);

    --border-top-big: 10px solid #8d8d8d;
    --border-right-big: 10px solid #b3b3b3;
    --border-bottom-big: 10px solid #363636;
    --border-left-big: 10px solid #030303;

    --border-top-mid: 6px solid #8d8d8d;
    --border-right-mid: 6px solid #b3b3b3;
    --border-bottom-mid: 6px solid #363636;
    --border-left-mid: 6px solid #030303;

    --border-top-small: 3px solid #8d8d8d;
    --border-right-small: 3px solid #b3b3b3;
    --border-bottom-small: 3px solid #363636;
    --border-left-small: 3px solid #030303;

}

* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
}

body {
    font-family: "Pixelify Sans", sans-serif;
    color: var(--font-color);
}
.button-small {
    padding: 0.4rem;

    border-top: var(--border-top-small);
    border-bottom: var(--border-bottom-small);
    border-right: var(--border-right-small);
    border-left: var(--border-left-small);

    background-color: var(--button-background-color);   
}

.button-mid {
    font-size: 1.2rem;
    padding: 0.5rem;

    border-top: var(--border-top-mid);
    border-bottom: var(--border-bottom-mid);
    border-right: var(--border-right-mid);
    border-left: var(--border-left-mid);
}

.button-small:hover,
.button-small:focus {
    transform: translate(1px, 1px);

    border-bottom: var(--border-top-small);
    border-top: var(--border-bottom-small);
    border-left: var(--border-right-small);
    border-right: var(--border-left-small);

    background-color: var(--button-background-color-active);
    color: black;

}

.button-mid:hover,
.button-mid:focus {
    transform: translate(1px, 1px);

    border-bottom: var(--border-top-mid);
    border-top: var(--border-bottom-mid);
    border-left: var(--border-right-mid);
    border-right: var(--border-left-mid);

    background-color: var(--button-background-color-active);  

}

/*Header*/
header {
    padding: 0 1rem;
    height: 4rem;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    display: flex;

    border-top: var(--border-top-big);
    border-bottom: var(--border-bottom-big);
    border-right: var(--border-right-big);
    border-left: var(--border-left-big);
}

.header-logo {
    flex-grow: 1;
    display: none;
}
.header-logo:hover {
    color: black;
}

.header-item {
    color: inherit;
}
/*Container*/
.container {
    min-height: calc(100vh - 4rem);
}

.box-full-size {
    max-width: 90vw;
    margin: 4rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.box-small-size {
    max-width: 25rem;
    margin: 3rem auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: .6rem;
    background-color: rgb(172, 172, 172);
    border-radius: 3px;
    color: var(--font-color);
    box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.64);
    -webkit-box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.64);
    -moz-box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.64);
}
.box-small-size > input {
    padding: .3rem;
    border-radius: 2px;
    border: none;
    outline: none;
}
.box-small-size > input:focus,
.box-small-size  input[type="checkbox"]:focus {
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.64);
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.64);
}
.box-small-size  input[type="checkbox"] {
    outline: none;
}
.box-small-size > button { 
    margin-top: .8rem;
    letter-spacing: 0.08rem;
    cursor: pointer;
    font-family: "Pixelify Sans", sans-serif;
}
.box-small-size > button:hover {
}
.box-small-size > button:focus {
}
.error-field {
    padding: .1rem .5rem;
    color: rgb(218, 51, 51);
    background-color:rgb(150, 150, 150);
    border-radius: 2px;
}
.input-invisible{
    background-color: inherit;
    border: none;
    font-family: inherit;
}

.password-tile {
    padding: 1rem;
    min-width: 10rem;
    background-color: gray;
    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    gap: 1rem;
}
.password-tile-name{
    border-top: var(--border-top-small);
    border-bottom: var(--border-bottom-small);
    border-right: var(--border-right-small);
    border-left: var(--border-left-small);
    padding: .4rem;
    background-color: var(--button-background-color);  
}
.password-tile-actions{
    display: flex;
    justify-content: space-evenly;
    gap: .5rem;
}
.action-icon{
    width: 1.5rem;
    height: 1.5rem;
}
.password-tile-action{
    white-space: nowrap;
    line-height: 0;  
}
/*Footer*/
@media(min-width: 400px) {
    /*Header*/
    .header-logo{
        display: block;
    }

    .box-small-size{
        padding: 3rem;
    }
}