
:root{
    --font-color: rgb(59, 55, 55);

    --color-border-top: #8d8d8d;
    --color-border-right: #b3b3b3;
    --color-border-bottom: #363636;
    --color-border-left: #030303;

    --button-background-color: rgb(223, 223, 223);
    --button-background-color-active: rgb(206, 206, 206);

    --border-top-big: 10px solid #8d8d8d;
    --border-right-big: 10px solid #b3b3b3;
    --border-bottom-big: 10px solid #363636;
    --border-left-big: 10px solid #030303;

    --border-top-mid: 6px solid #8d8d8d;
    --border-right-mid: 6px solid #b3b3b3;
    --border-bottom-mid: 6px solid #363636;
    --border-left-mid: 6px solid #030303;

    --border-top-small: 3px solid #8d8d8d;
    --border-right-small: 3px solid #b3b3b3;
    --border-bottom-small: 3px solid #363636;
    --border-left-small: 3px solid #030303;

    --password-color-1: #ccc;
    --password-color-2: #666;
    --password-color-3: #c77;
    --password-color-4: #cc7;
    --password-color-5: #7c7;
    --password-color-6: #7cc;
    --password-color-7: #77c;
    --password-color-8: #c7c;
    --password-color-9: #999;
    --password-color-10: #333;
    --password-color-11: #822;
    --password-color-12: #882;
    --password-color-13: #282;
    --password-color-14: #288;
    --password-color-15: #228;
    --password-color-16: #828;
}

* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
}

body {
    font-family: "Pixelify Sans", sans-serif;
    color: var(--font-color);
}
.button-small {
    padding: 0.4rem;

    border-top: var(--border-top-small);
    border-bottom: var(--border-bottom-small);
    border-right: var(--border-right-small);
    border-left: var(--border-left-small);

    background-color: var(--button-background-color);  
    font-family: "Pixelify Sans", sans-serif; 
}

.button-mid {
    font-size: 1.2rem;
    padding: 0.5rem;

    border-top: var(--border-top-mid);
    border-bottom: var(--border-bottom-mid);
    border-right: var(--border-right-mid);
    border-left: var(--border-left-mid);
}

.button-small:hover,
.button-small:focus {
    transform: translate(1px, 1px);

    border-bottom: var(--border-top-small);
    border-top: var(--border-bottom-small);
    border-left: var(--border-right-small);
    border-right: var(--border-left-small);

    background-color: var(--button-background-color-active);
    color: black;

}

.button-mid:hover,
.button-mid:focus {
    transform: translate(1px, 1px);

    border-bottom: var(--border-top-mid);
    border-top: var(--border-bottom-mid);
    border-left: var(--border-right-mid);
    border-right: var(--border-left-mid);

    background-color: var(--button-background-color-active);  

}

.background-confirm{
    background-color: rgb(114, 207, 114);
}
.background-confirm:hover,
.background-confirm:focus
 {
    background-color: rgb(90, 163, 90);
}
.background-cancel{
    background-color: rgb(223, 111, 111);
}
.background-cancel:hover,
.background-cancel:focus
{
    background-color: rgb(184, 93, 93);
}

/*Header*/
header {
    padding: 0 1rem;
    height: 4rem;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    display: flex;

    border-top: var(--border-top-big);
    border-bottom: var(--border-bottom-big);
    border-right: var(--border-right-big);
    border-left: var(--border-left-big);

    background-color: white;

    position: sticky;
    top: 0;
    z-index: 100;
}

.header-logo {
    flex-grow: 1;
    display: none;
}
.header-logo:hover {
    color: black;
}

.header-item {
    color: inherit;
}
/*Container*/
.container {
    min-height: calc(100vh - 4rem);
}

.box-full-size {
    max-width: 90vw;
    margin: 4rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.box-small-size {
    max-width: 25rem;
    margin: 3rem auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: .6rem;
    background-color: rgb(172, 172, 172);
    border-radius: 3px;
    color: var(--font-color);
    box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.64);
    -webkit-box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.64);
    -moz-box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.64);
}
.box-small-size > input {
    padding: .3rem;
    border-radius: 2px;
    border: none;
    outline: none;
}
.box-small-size > input:focus,
.box-small-size  input[type="checkbox"]:focus {
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.64);
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.64);
}
.box-small-size  input[type="checkbox"] {
    outline: none;
}
.box-small-size > button { 
    margin-top: .8rem;
    letter-spacing: 0.08rem;
    cursor: pointer;
    font-family: "Pixelify Sans", sans-serif;
}
.box-mid-size {
    margin: 4rem auto;
    background-color: gray;
    width: 70%;
    height: 40vh;
}
.error-field {
    padding: .1rem .5rem;
    color: rgb(218, 51, 51);
    background-color:rgb(150, 150, 150);
    border-radius: 2px;
}
.input-invisible{
    background-color: inherit;
    border: none;
    font-family: inherit;
}
.overlay {
    width: 100%;
    height: 100svh;
    position: fixed;
    top: calc(2.75rem + 20px);
    left: 0;
    background-color: rgba(177, 177, 177, 0.64);
    display: none;
}

.password-tile {
    padding: 1rem;
    min-width: 10rem;
    background-color: gray;
    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    gap: 1rem;
}
.password-tile-name{
    border-top: var(--border-top-small);
    border-bottom: var(--border-bottom-small);
    border-right: var(--border-right-small);
    border-left: var(--border-left-small);
    padding: .4rem;
    background-color: var(--button-background-color);  
}
.password-tile-actions{
    display: flex;
    justify-content: space-evenly;
    gap: .5rem;
}
.action-icon{
    width: 1.5rem;
    height: 1.5rem;
}
.password-tile-action{
    white-space: nowrap;
    line-height: 0;
    cursor: pointer;
}

.hidden-password{
    display: none;
}

.spread-items{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 4fr 5fr;
}
.grid-two-col{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.grid-expandable{
    grid-template-rows: 0fr 0fr;
    gap: 0;
    overflow: hidden;
    transition: grid-template-rows .2s ease-in, gap .2s ease-in;
}

.span-two-col{
    grid-column: 1 / span 2;
    overflow: hidden;
}
.overflow-hidden{
    overflow:hidden;
}
#color-picker-button{
    height: 1.8rem;
    width: 1.8rem;
}
.color-picker-radio
 {
    appearance: none;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 2px;
    border: 2px solid gray;
    background: white;
}
.color-picker-radio:checked{
    outline: 2px solid red;
}
.color-picker-grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: .5rem;
}
.colspan-4{
    grid-column: span 4;
}

.colspan-8{
    grid-column: span 8;
}

/*Footer*/
@media(min-width: 400px) {
    /*Header*/
    .header-logo{
        display: block;
    }

    .box-small-size{
        padding: 3rem;
    }
}